<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Centro Pokemon</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
              rel="stylesheet"
              />
        <link
            href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap"
            rel="stylesheet"
            />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.css"
            rel="stylesheet"
            /> 
        <script
            type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/4.4.0/mdb.min.js"
        ></script>
    </head>


    <body>

        <!-- Header con NAVBAR -->
        <header>
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#"></a> <!-- Linea para meter rápido un espacio y que no quede pegado a la izq. -->
                <a class="navbar-brand" href="#">Inicio</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarText">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Noticias <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pokedex</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Tipos de Pokemon</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Torneos</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header> 

        
<div class="alert alert-primary" role="alert">
  Nuevos Eventos de Pokemon Revisalos!
</div>
        <!-- Carrusel -->
        <div id="carouselExampleControls" class="carousel slide" data-mdb-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="images/pokemon.jpg" class="d-block w-100" alt="Ballet">
                </div>
                <div class="carousel-item">
                    <img src="images/pokemonNews.jpg" class="d-block w-100" alt="partidos">
                </div>
                <div class="carousel-item">
                    <img src="images/pokemonEventos.jpg" class="d-block w-100" alt="concert">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-mdb-target="#carouselExampleControls" data-mdb-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </body>



    <footer class="text-center text-white" style="background-color: #434343;">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Images -->
            <section class="">
                <div class="row">
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/1.jpg"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/2.png"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/3.jpg"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/4.jpg"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/5.jpg"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-12 mb-4 mb-md-0">
                        <div
                            class="bg-image hover-overlay ripple shadow-1-strong rounded"
                            data-ripple-color="light"
                            >
                            <img
                                src="images/6.jpg"
                                class="w-100"
                                />
                            <a href="#!">
                                <div
                                    class="mask"
                                    style="background-color: rgba(251, 251, 251, 0.2);"
                                    ></div>
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- Section: Images -->
        </div>
        <!-- Grid container -->

        <!-- Copyright --> 
        <div>
            <div class="tloginext-left p-3" style="background-color: rgba(0, 0, 0, 0.2)">
                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" 
                   th:href="${urlBuilder.replaceQueryParam('lang','es').toUriString()}">ES</a> 

                <a th:with="urlBuilder=${T(org.springframework.web.servlet.support.ServletUriComponentsBuilder).fromCurrentRequest()}" 
                   th:href="${urlBuilder.replaceQueryParam('lang','en').toUriString()}">EN</a> 
            </div>
        </div>

        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            Centro Pokemon es un sitio web creado para los aficionados del mundo Pokemon
            <br>
            2022 Copyright
        </div>

        <!-- Copyright -->
    </footer>


</html>
